<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SearchText" verbose="1" >
	<parameter name="appURL" value="http://www.sirsidynix.com"/>
	<parameter name="browserType" value="firefox"/>
  <test name="SearchText">
    <classes>
      <class name="test.SearchTextTest">
      <methods>
        <include name="searchText" />      
      </methods>
      </class>            
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
